<!DOCTYPE html>
<html>

<head>
    <title>Remote Control</title>

    <link rel='stylesheet' href='/stylesheets/style.css' type="Content-type" : "text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(function() {
            var socket = io();

            socket.on('good to go', function(results) {
                if (results == 'guest') {
                    window.location.replace("/remote0eaa2a449df7bd5285eab8f0d2193f85");
                } else if (results == 'admin') {
                    window.location.replace("/remote2dd683e2f283c9d30fed25ac8fe2976c");
                }
            });

            socket.on('wrong pass', function() {
                alert("Please insert a valid username and password");
            });

            $('form').submit(function() {
                socket.emit('loginRequire', {
                    user: $('#userText').val(),
                    pass: $('#passText').val()
                });

                $('#userText').val('');
                $('#passText').val('');
                return false;
            });
        });
    </script>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">Remote control</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Username" class="form-control" id="userText">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" id="passText">
                    </div>
                    <button type="submit" class="btn btn-success" id="submitButton">Sign in</button>
                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Remote control</h1>
            <p>From this site you can control remotely anything you want! Your dreams are no longer just dreams!!!</p>
            <p><a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Remote_control" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>About</h2>
                <p>This is a private site made for one of our client. His identity is secretly keeped in our database.</p>
            </div>
            <div class="col-md-4">
                <h2>Carrers</h2>
                <p>If you`re an awesome developer who lives for challenges, please write us at: <b><i>jobs@remotecontrol.ro</i></b></p>

            </div>
            <div class="col-md-4">
                <h2>Contact</h2>
                <p>We are looking to help you to have a simpler life. If you`re interested just write to us at: <b><i>business@remotecontrol.ro</i></b></p>

            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; 2017 Eduard Soltuzu, Inc.</p>
        </footer>
    </div>
    <!-- /container -->



</body>

</html>