<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>-->

    <script>
        $(document).ready(function() {
            var socket = io();

            socket.on('news', function(state) {
                document.getElementById("h1").innerHTML = state;
            });

            socket.on('users', function(nrUsers) {
                var numberOfUsers = "users online: " + nrUsers;
                document.getElementById("h2").innerHTML = numberOfUsers;
            });

            socket.on('good to go', function() {
                window.location.replace("/");
            });

            socket.on('buttonState', function(state) {
                document.getElementById("h1").innerHTML = state;
            });

            socket.on('sensor data', function(sensData) {
                document.getElementById("sensorData").innerHTML += sensData;
                var $textarea = $('#sensorData');
                $textarea.scrollTop($textarea[0].scrollHeight);
            });

            // $('#buttonOn').click(function() {
            //     socket.emit('buttonOn', "Load is <b>ON</b>");
            // });
            // $('#buttonOff').click(function() {
            //     socket.emit('buttonOff', "Load is <b>OFF</b>");
            // });

            // $('#pwm').on('change', function() {
            //     socket.emit('new pwm', this.value);
            //     document.getElementById("l1").innerHTML = "Duty Cycle: " + this.value;
            // });

        });
    </script>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">Remote control</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Log Out</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="http://edso.asuscomm.com:8081/">Ip Camera</a></li>
                    <li><a href="/loading">Analytics</a></li>
                    <li><a href="/loading">Export</a></li>
                </ul>
                <!--<ul class="nav nav-sidebar">
                    <li><a href="">Nav item</a></li>
                    <li><a href="">Nav item again</a></li>
                    <li><a href="">One more nav</a></li>
                    <li><a href="">Another nav item</a></li>
                    <li><a href="">More navigation</a></li>
                </ul>-->

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Dashboard</h1>

                <div allign="center">
                    <h3 id="h2">users</h3>
                </div>

                <div class="row placeholders" align="center">
                    <h1 id="h1">Load is</h1>
                </div>


                <!--<div align="center">
                    <h3><button type="button" class="btn btn-primary" id="buttonOn">Turn ON </button></h3>
                </div>
                <div align="center">
                    <h3><button type="button" class="btn btn-danger" id="buttonOff">Turn OFF</button></h3>
                </div>
                <div align="center">
                    <h3><label for="pwm" id="l1">Duty cycle: 0</label></h3><br>
                    <input type="range" name="pwm" id="pwm" value="0" min="0" max="100" step="10">
                </div>-->

            </div>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Sensors data</h2>

        <div>
            <textarea id="sensorData" rows="20" style="width:100%; height:300px"></textarea>
        </div>
    </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="/javascripts/bootstrap.min.js"></script>

</body>

</html>